.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.country-flag{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

.heading{
    padding-top: 3rem;
    color: rgb(24, 158, 255);
}